grandPrix {
    font-family: Arial, sans-serif;
}

/* A nagydíj neve */
grandPrix > name {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* A nagydíj neve után következő eredménytábla */
name + drivers {
    display: table;
    margin: auto;
    border: 2px solid black;
    border-radius: 0.5rem;
}

/* Egy pilóta egy sor */
driver {
    display: table-row;
}

/* A pilóták adatai külön oszlopok */
driver > * {
    display: table-cell;
    padding: 0.5rem 1rem;
}

/* A pilóták nevei */
driver > name {
    font-weight: bold;
}

/* Az első helyezett sora */
driver:nth-child(1) {
    background-color: lightgray;
}

/* Pontszám */
points::after {
    content: " pont";
}
driver[team="McLaren"] {
    background-color: #FF8700; /* McLaren narancssárga */
}

driver[team="Mercedes"] {
    background-color: #00AEEF; /* Mercedes kék */
}

driver[team="Ferrari"] {
    background-color: #DC0000; /* Ferrari piros */
}
/*Ez most ilyen bullshit példa, az attr() nem műödne, mert a name-nél nincs team attr*/
driver[team="McLaren"] > name::after {
    content: " McLaren";
}

driver[team="Mercedes"]::after {
    content: attr(team);
}